@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800|Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --gold: theme('colors.gold');
        --gold-dark: theme('colors.gold-dark');
        --bronze-dark: theme('colors.bronze-dark');
        --bronze-medium: theme('colors.bronze-medium');
        --bronze-light: theme('colors.bronze-light');
        --papyrus-light: theme('colors.papyrus-light');
        --papyrus-medium: theme('colors.papyrus-medium');
        --papyrus-dark: theme('colors.papyrus-dark');
        --stone-dark: theme('colors.stone-dark');
        --text-dark: theme('colors.text-dark');
        --red-ochre: theme('colors.red-ochre');
    }

    html, body {
        @apply bg-gradient-to-br from-stone-dark to-text-dark;
        @apply font-serif text-text-dark min-h-screen;
        margin: 0;
        padding: 0;
    }
}
